*.toc
*.aux
*.log
main.pdf

workspace/LakeRouting/bin/ch/
/Mathematica Source/Bodensee_Décision_Sphere.nb
/Mathematica Source/Bodensee_Décision_Sphere.pdf
javadoc

/workspace/LakeRouting/doc
/yuksefev/log4j-1.2.17
/workspace/LakeRouting/bin